*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #282525;
    font-family: "Lucida Sans Typewriter",sans-serif;
    color: white;
}
h1 {
    font-size: 2.5rem;
    font-weight: bolder;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    min-height: 85vh;
}
table {
    border: solid 1px gray;
    max-width: 80%;
    margin: auto;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%; /* optional, based on use case */
}

th,
td {
  margin: 0;
  padding: .25rem;
  border: none;
  text-align: left;
  vertical-align: top;
    border-bottom: solid grey 1px;
}

main hr{
    border: 2px solid lightgray;
    margin: 1rem;
    min-width: 90%;

}
main p{
    text-align: center;
    color: antiquewhite;
    width: 70%;
}
a.btn-cta{
    background-color: gold;
    color: #ffffff;
    border-radius: 12px;
    padding: .5rem 1rem;
    margin: 3rem;
    text-decoration: none;
}
a.btn-cta:hover{
    background-color: goldenrod;
}
td a, button a{
    color: goldenrod;
    text-decoration: none;
    align-self: flex-start;
}
.form-control{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: .5rem;
    gap: .5rem;
}
.btn-group{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-left: 3rem;

}
form{
    display: flex;
    flex-direction: column;
    background-color: grey;
    max-width: 600px;
    padding: 1rem 2rem;
    margin: auto;
    margin-top: 3rem;
    border-radius: 12px;
}
button{
    min-width: 100px;
    padding:0.5rem 1rem;
    align-self: flex-start;
    border-radius: 12px;
    outline: none;
    cursor: pointer;
}
.btn-add{
    background-color: green;
    border: none;
}

.btn-add:hover{
    background-color: chartreuse;
}
button:hover{
    background-color: gold;
    color: white;
}
.container-cafe{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}