<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coffee locations</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
<main>
    <h1>☕ Coffee & WiFi 💻</h1>
    <p>Want to work in a cafe but need power and wifi</p>
    <hr/>
    <p>You have found the right place! Checkout my collection of
    cafes with data on power socket availability, wifi
    speed and coffee quality.</p>
    <a class="btn-cta" href="{{ url_for('cafes') }}">Show Me</a>
</main>

</body>
</html>